info:
  contact: {}
paths:
  /single-chat:
    get:
      consumes:
      - application/json
      description: Returns a single chat response
      produces:
      - application/json
      responses:
        "200":
          description: ok
          schema:
            type: string
      summary: Get single chat
      tags:
      - single-chat
    post:
      consumes:
      - text/plain
      description: Handles single chat message
      parameters:
      - description: User message
        in: body
        name: message
        required: true
        schema:
          type: string
      produces:
      - text/plain
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Post single chat
      tags:
      - single-chat
swagger: "2.0"
